<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Sai Reddy Maps Project</span>
    </div>
  </nav>
  
  <!-- Main content -->
  <main class="flex-grow-1">
    <div class="container my-4">
      <div class="row">
        <div class="col-12">
          <app-map></app-map>
        </div>
      </div>
    </div>
  </main>
  
  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-3 mt-auto bottom-0">
    <div class="container">
      <p class="mb-0">&copy; 2025 Sai Reddy. All rights reserved.</p>
    </div>
  </footer>
  